<f:layout name="Default" />

<f:section name="main">
	<h1>Preview View for News</h1>

	<f:flashMessages />
	<f:if condition="{access}">
		<f:then>
			<f:render partial="News/Properties" arguments="{news:news}" />

			<f:form action="update" name="news" object="{news}" >
				<div style="display: none">
					<f:render partial="News/FormFields" arguments="{news:news,availablecategories:availablecategories}" />
				</div>
				<f:form.submit value="final save" />
			</f:form>
		</f:then>
		<f:else>
			no access
		</f:else>

	</f:if>

</f:section>