<f:layout name="Default" />


<f:section name="main">
	<h1>Edit media</h1>

	<f:flashMessages />

	<f:render partial="FormErrors" arguments="{table:'file'}"/>

	<f:form action="update" name="relatedFile" object="{relatedFile}" arguments="{news:news}" enctype="multipart/form-data"  class="form-horizontal" >
		<f:render partial="RelatedFile/FormFields" arguments="{news:news,availablecategories:availablecategories}" />
		<div class="form-actions">
			<f:form.submit value="Save media"  class="btn btn-primary" />
		</div>
	</f:form>

	<f:link.action action="new" controller="RelatedFile" arguments="{news:news}">new related file</f:link.action>
</f:section>